<!DOCTYPE html>
<html lang="en">

<%-include('./common/header')%>

<body>

    <!-- ======= Header ======= -->
    <%-include('./common/nav')%>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <%-include('./common/sidebar')%>
    <!-- End Sidebar-->

    <main id="main" class="main">

        <%-include('./common/adminauth')%>
        <!-- End Page Title -->
        <a href="/admin/addproduct" class="btn btn-primary">Add Products</a>
        <br> <br>

        <section class="section dashboard" style="text-align: center;">
           <div class="container">
            <!-- Table Variants -->
            <table class="table" border="1px">
                <thead>
                  <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Details</th>
                    <th scope="col">Product price</th>
                    <th scope="col">Product Image</th>
                    <th scope="col" colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  

                  <tr class="table-primary">
                    <% let id=0
                    for(pdata of allproduct){%>
                        <th scope="row" class="table-primary"><%=++id%></th>
                    <td class="table-primary"><%=pdata.Productname%></td>
                    <td class="table-primary"><%=pdata.productDetails%></td>
                    <td class="table-primary"><%=pdata.productPrice%></td>
                    <td class="table-primary"><img src="/<%=pdata.images%>" alt="" height="100px"></td>
                    <td class="table-primary"><a href="/admin/editproduct/<%=pdata._id%>" class="btn btn-primary">Edit</a></td>
                    <td class="table-primary"><a href="/admin/delete/product/<%=pdata._id%>" class="btn btn-danger">Delete</a></td>
                  </tr>
                    <%}%>
                    
                  
                  
                </tbody>
              </table>
              <!-- End Table Variants -->
           </div>

                
            
        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>